
.bloco {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {margin-left: 0%; margin-top: 0%;}
    25%  {margin-left: 90%; margin-top: 35%;}
    50%  {margin-left: 90%; margin-top: 0%;}
    75%  {margin-left: 0%; margin-top: 35%;}
    100% {margin-left: 0%; margin-top: 0%;}
  }

  input {
    width: 100px;
    transition-duration: 4s;
  }

  input:hover {
    width: 300px;
  }